$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeOutBack: cubic-bezier(0.23, 1, 0.37, 1.6);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$main_black: #262727;
$dark_gray: #cacfd2;
$main_gray: #f3f3f4;
$main_gray2: #dbdcdc;
$media_yellow: #ffec60;
$media_blue: #257a9b;
$dark_gray2: #575f63;
$blue: #1c7eed;
$black: #231815;
$yellow: #eaff00;
$orange: #ff7e00;
$green: #1cf09e;
$max_width_l: 1150px;

$red: #ff2c60;

$header_height: 55px;

$green: #00ff00;
$pink: #ff0078;
$blue: #2850ff;