@import "utilities";

html {
  &.scrollStop {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    body {
      position: fixed;
      left: 0;
      top: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

//Reset Style
* {
  box-sizing: border-box;
  margin: 0;
  font-feature-settings: "palt" 1;
  padding: 0;
}
.impact {
  font-family: sans-serif;
}
html,
body {
  overscroll-behavior: none;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  color: white;
  @include max-screen(767px) {
    font-size: 14px;
  }
}

textarea {
  resize: none;
  &:focus {
    outline: none;
  }
}
select {
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  line-height: 1.6;
}
ul,
li {
  list-style: none;
}
.bold {
  font-weight: bold;
}
input {
  box-shadow: none;
  &:focus {
    outline: none;
  }
}
/*For Responsive*/
.pc_only {
  display: block;
  @include max-screen(767px) {
    display: none;
  }
}
.sp_only {
  display: none;
  @include max-screen(767px) {
    display: block;
  }
}
.pc_only_flex {
  display: flex;
  @include max-screen(767px) {
    display: none;
  }
}
.sp_only_flex {
  display: none;
  @include max-screen(767px) {
    display: flex;
  }
}
/* main */
main {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
input,
textarea,
select {
  font-family: sans-serif;
  font-weight: 400;
}

.fadeInUp {
  transform: translateY(30px);
  opacity: 0;
  &.inview {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.7s $easeInOutCirc;
  }
}
.fadeIn {
  opacity: 0;
  &.inview {
    opacity: 1;
    transition: all 0.7s $easeInOutCirc;
  }
}

.white-btn {
  color: $blue;
  border: 2px solid $blue;
  border-radius: 40px;
}
.blue-btn {
  color: white;
  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 40px;
}

.base-input-text {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid rgb(146, 146, 146);
  &::placeholder {
    color: rgba($blue, 0.6);
  }
}

.c-red {
  color: red;
}

.rich-text-area {
  *{
    word-break: break-all;
  }
  strong{

  }
  a{
    
  }
  p {
    margin:10px 0;
  }
  h1 {
    font-size: 24px;
    margin:10px 0;
    
  }
  h2 {
    font-size: 22px;
    margin:10px 0;
  }
  h3 {
    font-size: 20px;
    margin:10px 0;
  }
  h4 {
    font-size: 18px;
    margin:10px 0;
  }
  iframe {
    width: 100% !important;
    height: 591px;
    @include max-screen(1225px) {
      height: 62vw;
    }
    @include max-screen(767px) {
      height: 51vw;
    }
  }
}


input[type="text"],
textarea,
select {
  border: none;
  appearance: none;
  width: 100%;
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
}
